<div ui-view="register">
  <form
    name="vm.registerForm"
    novalidate=""
    class="ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength"
  >
    <div class="panel panel-seller">
      <div class="panel-body">
        <ul class="seller-list-border">
          <li>
            <label class="control-label" for="name"
              >クーポン名<i class="icon-must" aria-label="필수항목"></i>
              <!----><a
                role="button"
                ng-click="vm.func.showHelpLayerForBenefitPolicyName()"
                ng-if="::!vm.isMobile"
                href=""
                ><i class="fn fn-help1 text-primary" aria-hidden="true"></i></a
              ><!----></label
            >
            <div class="input-content">
              <div class="input-group">
                <div class="form-group">
                  <div class="seller-input-wrap">
                    <input
                      id="name"
                      type="text"
                      placeholder="30文字以内で入力してください"
                      class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength"
                      ncp-input-clear=""
                      maxlength="30"
                      ncp-message-container="#error-msgFor-benefitPolicyName"
                      ng-disabled="!vm.isEditable"
                      ng-model="vm.viewData.registerData.benefitPolicyName"
                      required=""
                    /><a
                      role="button"
                      class="btn-clear"
                      tabindex="-1"
                      style="display: none"
                      ><span aria-label="삭제">×</span></a
                    >
                  </div>
                </div>
                <span class="input-group-addon"
                  ><span class="text-primary">0</span>/30</span
                >
              </div>
              <div id="error-msgFor-benefitPolicyName"></div>
            </div>
          </li>

          <li>
            <label class="control-label"
              >種類<i class="icon-must" aria-label="필수항목"></i
            ></label>
            <div class="input-content narrow-area">
              <div class="form-group">
                <div class="seller-input">
                  <!----><label
                    ng-repeat="type in ::vm.enums['BenefitKindType'].values"
                    ><input
                      type="radio"
                      name="benefitKindType"
                      value="COUPON"
                      ng-model="vm.viewData.registerData.benefitKindType"
                      ng-click="vm.func.checkBenefitKindType()"
                      ng-disabled="!vm.isEditable || !vm.viewData.registerData.benefitGroup.customerManageBenefitType
                                           || ((vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'ALL'
                                           || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'NEW'
                                           || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'TALK_FRIEND'
                                           || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'STORE_KEEP'
                                           || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'CUSTOMER'
                                           || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'TARGETING'
                                           || vm.func.isBookCategorySeller()) &amp;&amp; type.name === 'POINT')"
                      required=""
                      class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                      disabled="disabled" />クーポン<span></span></label
                  ><!----><label
                    ng-repeat="type in ::vm.enums['BenefitKindType'].values"
                    ><input
                      type="radio"
                      name="benefitKindType"
                      value="POINT"
                      ng-model="vm.viewData.registerData.benefitKindType"
                      ng-click="vm.func.checkBenefitKindType()"
                      ng-disabled="!vm.isEditable || !vm.viewData.registerData.benefitGroup.customerManageBenefitType
                                           || ((vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'ALL'
                                           || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'NEW'
                                           || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'TALK_FRIEND'
                                           || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'STORE_KEEP'
                                           || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'CUSTOMER'
                                           || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'TARGETING'
                                           || vm.func.isBookCategorySeller()) &amp;&amp; type.name === 'POINT')"
                      required=""
                      class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                      disabled="disabled" />ポイント<span></span></label
                  ><!---->
                </div>
              </div>
              <div class="form-group"><!----></div>
              <div class="form-group"><!----></div>
            </div>
            <!----><!---->
          </li>
        </ul>
      </div>
    </div>
    <!---coupon 詳細-->

    <li>
      <label class="control-label"
        >혜택종류<i class="icon-must" aria-label="필수항목"></i
      ></label>
      <div class="input-content narrow-area">
        <div class="form-group">
          <div class="seller-input">
            <!----><label
              ng-repeat="type in ::vm.enums['BenefitKindType'].values"
              ><input
                type="radio"
                name="benefitKindType"
                value="COUPON"
                ng-model="vm.viewData.registerData.benefitKindType"
                ng-click="vm.func.checkBenefitKindType()"
                ng-disabled="!vm.isEditable || !vm.viewData.registerData.benefitGroup.customerManageBenefitType
    || ((vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'ALL'
    || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'NEW'
    || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'TALK_FRIEND'
    || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'STORE_KEEP'
    || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'CUSTOMER'
    || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'TARGETING'
    || vm.func.isBookCategorySeller()) &amp;&amp; type.name === 'POINT')"
                required=""
                class="ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched"
                style="" />쿠폰<span></span></label
            ><!----><label
              ng-repeat="type in ::vm.enums['BenefitKindType'].values"
              ><input
                type="radio"
                name="benefitKindType"
                value="POINT"
                ng-model="vm.viewData.registerData.benefitKindType"
                ng-click="vm.func.checkBenefitKindType()"
                ng-disabled="!vm.isEditable || !vm.viewData.registerData.benefitGroup.customerManageBenefitType
    || ((vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'ALL'
    || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'NEW'
    || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'TALK_FRIEND'
    || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'STORE_KEEP'
    || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'CUSTOMER'
    || vm.viewData.registerData.benefitGroup.customerManageBenefitType === 'TARGETING'
    || vm.func.isBookCategorySeller()) &amp;&amp; type.name === 'POINT')"
                required=""
                class="ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required"
                disabled="disabled"
                style="" />포인트적립<span></span
            ></label>
            <!---->
          </div>
        </div>
        <div class="form-group"><!----></div>
        <div class="form-group">
          <!---->
          <button
            type="button"
            class="btn btn-default btn-xs"
            ng-if="vm.viewData.isCenter &amp;&amp; vm.viewData.registerData.benefitGroup.customerManageBenefitType &amp;&amp; (vm.viewData.registerData.benefitGroup.customerManageBenefitType !== 'BEST_REVIEW' &amp;&amp; vm.viewData.registerData.benefitGroup.customerManageBenefitType !== 'FREE_TRIAL' &amp;&amp; vm.viewData.registerData.benefitGroup.customerManageBenefitType !== 'GRADE')"
            ng-click="vm.func.openExposureExampleModal()"
            style=""
          >
            혜택 노출 예시보기</button
          ><!---->
        </div>
      </div>
      <!----><!----><!---->
      <div
        class="panel-body-info"
        ng-if="vm.viewData.registerData.benefitKindType === 'COUPON'"
        ng-include="'shared/benefit/customer-manage/include/register-benefit-coupon.html.inc'"
        style=""
      >
        <div class="input-content">
          <ul class="seller-list-border">
            <li>
              <label class="control-label"
                >발급방법
                <i class="icon-must" aria-label="필수항목"></i>
              </label>
              <div class="input-content narrow-area">
                <div class="form-group">
                  <div class="seller-input">
                    <!---->
                    <label
                      ng-repeat="type in ::vm.enums['CouponPublicationType'].values"
                    >
                      <input
                        type="radio"
                        name="couponPublicationType"
                        value="DOWNLOAD"
                        ng-model="vm.viewData.registerData.couponPublicationType"
                        ng-change="vm.func.changeCouponPublicationType()"
                        ng-disabled="!vm.isEditable || vm.viewData.registerData.benefitGroup.customerManageBenefitType !== 'TARGETING'"
                        class="ng-pristine ng-untouched ng-valid ng-not-empty"
                        disabled="disabled" />다운로드<span></span></label
                    ><!----><label
                      ng-repeat="type in ::vm.enums['CouponPublicationType'].values"
                      ><input
                        type="radio"
                        name="couponPublicationType"
                        value="IMMEDIATE"
                        ng-model="vm.viewData.registerData.couponPublicationType"
                        ng-change="vm.func.changeCouponPublicationType()"
                        ng-disabled="!vm.isEditable || vm.viewData.registerData.benefitGroup.customerManageBenefitType !== 'TARGETING'"
                        class="ng-pristine ng-untouched ng-valid ng-not-empty"
                        disabled="disabled" />고객에게 즉시 발급<span
                      ></span></label
                    ><!---->
                  </div>
                </div>
                <!---->
                <div ng-if="vm.viewData.registerData.couponPublicationType">
                  <!---->
                  <p
                    class="sub-text text-primary"
                    ng-if="vm.viewData.registerData.couponPublicationType === 'DOWNLOAD'"
                  >
                    · 고객이 다운로드 버튼을 클릭하여 쿠폰을 발급받아
                    사용합니다.
                  </p>
                  <!----><!---->
                </div>
                <!---->
              </div>
            </li>
            <!---->
            <li
              ng-if="vm.viewData.registerData.couponPublicationType === 'DOWNLOAD'"
            >
              <label class="control-label">발급건수 제한</label>
              <div class="input-content narrow-area">
                <div class="form-inline">
                  <div class="form-group">
                    <div class="seller-input">
                      <label
                        ><input
                          type="radio"
                          name="maxCouponIssueCountUseYn"
                          ng-value="false"
                          ng-model="vm.viewData.registerData.maxCouponIssueCountUseYn"
                          ng-click="vm.viewData.registerData.maxCouponIssueCount = undefined"
                          ng-disabled="!vm.isEditable"
                          class="ng-pristine ng-untouched ng-valid ng-not-empty"
                          value="false" />제한없음<span></span
                      ></label>
                      <label
                        ><input
                          type="radio"
                          name="maxCouponIssueCountUseYn"
                          ng-value="true"
                          ng-model="vm.viewData.registerData.maxCouponIssueCountUseYn"
                          ng-disabled="!vm.isEditable"
                          class="ng-pristine ng-untouched ng-valid ng-not-empty"
                          value="true" />제한있음<span></span
                      ></label>
                    </div>
                  </div>
                  <!---->
                </div>
                <!---->
                <div ng-if="!vm.viewData.registerData.maxCouponIssueCountUseYn">
                  <p class="sub-text text-primary">
                    · 전체 발급쿠폰수를 제한하지 않겠다는 의미입니다.<br />·
                    쿠폰 상태값이 '적용중'일 동안은 계속 다운받을 수
                    있습니다.<br />단, 회원ID 당 같은 쿠폰은 한번만 다운받을 수
                    있습니다.
                  </p>
                </div>
                <!----><!---->
              </div>
            </li>
            <!---->
            <li>
              <label class="control-label"
                >할인설정<i class="icon-must" aria-label="필수항목"></i
              ></label>
              <div class="input-content narrow-area">
                <!---->
                <div
                  class="form-inline"
                  ng-if="vm.viewData.registerData.couponKindType === 'PRODUCT_NO_DUP' || vm.viewData.registerData.couponKindType === 'ORDER' || vm.viewData.registerData.couponKindType === 'PRODUCT'"
                >
                  <div class="form-group">
                    <div class="input-group">
                      <!----><!---->
                      <div
                        class="seller-input-wrap"
                        ng-if="vm.viewData.registerData.accumulationValueType === 'PERCENT'"
                      >
                        <input
                          type="tel"
                          class="form-control has-placeholder ng-pristine ng-untouched ng-empty ng-valid-min ng-valid-max ng-invalid ng-invalid-required ng-valid-pattern ng-valid-minlength ng-valid-maxlength"
                          title="할인율 입력"
                          ng-model="vm.viewData.registerData.accumulationValue"
                          min="1"
                          min-err-type="min.percent"
                          ncp-min-params='{"param":"1"}'
                          max="70"
                          max-err-type="max.percent"
                          ncp-max-params='{"param":"70"}'
                          minlength="1"
                          minlength-err-type="min.percent"
                          ncp-minlength-params='{"param":"1"}'
                          maxlength="2"
                          maxlength-err-type="max.percent"
                          ncp-maxlength-params='{"param":"70"}'
                          ng-pattern="/[0-9]$/"
                          ng-pattern-err-type="pattern.unit"
                          ncp-pattern-params='{"param":"1%"}'
                          required=""
                          required-err-type="required"
                          ng-disabled="!vm.isEditable"
                          ncp-input-clear=""
                          ncp-number-format=""
                          ncp-prevent-enter-submit=""
                          disable-auto-validate=""
                          ncp-message-container="#error-msgFor-accumulationValue"
                          ng-change="vm.func.openCouponAlert()"
                        /><a
                          role="button"
                          class="btn-clear"
                          tabindex="-1"
                          style="display: none"
                          ><span aria-label="삭제">×</span></a
                        >
                      </div>
                      <!---->
                      <div class="input-group-btn">
                        <button
                          class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown"
                          type="button"
                          ng-disabled="!vm.isEditable"
                        >
                          % <span class="caret"></span>
                        </button>
                        <input
                          type="hidden"
                          name="accumulationValueType"
                          ng-model="vm.viewData.registerData.accumulationValueType"
                          ng-disabled="!vm.isEditable"
                          autocomplete="off"
                          class="ng-pristine ng-untouched ng-valid ng-not-empty"
                        />
                        <ul class="dropdown-menu pull-right">
                          <!---->
                          <li
                            ng-repeat="benefitUnitType in ::vm.enums['BenefitUnitType'].getGroupValues('SALE_UNIT')"
                          >
                            <a
                              href=""
                              ng-click="vm.func.changeBenefitUnitType(benefitUnitType.name)"
                              >%</a
                            >
                          </li>
                          <!---->
                          <li
                            ng-repeat="benefitUnitType in ::vm.enums['BenefitUnitType'].getGroupValues('SALE_UNIT')"
                          >
                            <a
                              href=""
                              ng-click="vm.func.changeBenefitUnitType(benefitUnitType.name)"
                              >원</a
                            >
                          </li>
                          <!---->
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">최대</div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="seller-input-wrap">
                        <input
                          type="tel"
                          class="form-control has-placeholder ng-pristine ng-untouched ng-empty ng-valid-min ng-valid-max ng-invalid ng-invalid-required ng-valid-pattern ng-valid-minlength ng-valid-maxlength"
                          title="금액 입력"
                          ng-model="vm.viewData.registerData.maxDiscountAmount"
                          min="10"
                          min-err-type="min.won"
                          ncp-min-params='{"param":"10"}'
                          minlength="2"
                          minlength-err-type="min.won"
                          ncp-minlength-params='{"param":"2"}'
                          max="999990"
                          max-err-type="max.won"
                          ncp-max-params='{"param":"999,990"}'
                          maxlength="9"
                          maxlength-err-type="max.won"
                          ncp-maxlength-params='{"param":"999,990"}'
                          ng-pattern="/0$/"
                          ng-pattern-err-type="pattern.unit"
                          ncp-pattern-params='{"param":"10원"}'
                          required-err-type="required"
                          ng-disabled="!vm.isEditable || vm.viewData.registerData.accumulationValueType === 'WON'"
                          ng-required="vm.viewData.registerData.accumulationValueType === 'PERCENT'"
                          ncp-input-clear=""
                          ncp-number-format=""
                          ncp-prevent-enter-submit=""
                          ncp-message-container="#error-msgFor-accumulationValue"
                          required="required"
                        /><a
                          role="button"
                          class="btn-clear"
                          tabindex="-1"
                          style="display: none"
                          ><span aria-label="삭제">×</span></a
                        >
                      </div>
                      <span class="input-group-addon">원</span>
                    </div>
                  </div>
                  <div class="form-group">할인</div>
                </div>
                <!----><!---->
                <div id="error-msgFor-accumulationValue"></div>
                <p class="sub-text text-danger">
                  · 할인율/할인금액이 정확하게 입력되었는지 다시 한번 확인해
                  주세요!
                </p>
              </div>
            </li>
            <li>
              <label class="control-label" for="minimum-price"
                >최소주문금액</label
              >
              <div class="input-content narrow-area">
                <div class="form-inline has-error-msg">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="seller-input-wrap">
                        <input
                          type="tel"
                          class="form-control has-placeholder ng-pristine ng-untouched ng-valid ng-empty ng-valid-min ng-valid-max ng-valid-pattern ng-valid-minlength ng-valid-maxlength"
                          id="minimum-price"
                          ng-model="vm.viewData.registerData.minOrderAmount"
                          min="10"
                          min-err-type="min.won"
                          ncp-min-params='{"param":"10"}'
                          minlength="2"
                          minlength-err-type="min.won"
                          ncp-minlength-params='{"param":"2"}'
                          max="9999990"
                          max-err-type="max.won"
                          ncp-max-params='{"param":"9,999,990"}'
                          maxlength="9"
                          maxlength-err-type="max.won"
                          ncp-maxlength-params='{"param":"9,999,990"}'
                          ng-pattern="/0$/"
                          ng-pattern-err-type="pattern.unit"
                          ncp-pattern-params='{"param":"10원"}'
                          ng-disabled="!vm.isEditable"
                          ncp-input-clear=""
                          ncp-number-format=""
                          ncp-prevent-enter-submit=""
                        /><a
                          role="button"
                          class="btn-clear"
                          tabindex="-1"
                          style="display: none"
                          ><span aria-label="삭제">×</span></a
                        >
                      </div>
                      <span class="input-group-addon">원</span>
                    </div>
                  </div>
                  <div class="form-group form-control-static">
                    이상 구매시 사용 가능
                  </div>
                  <p class="sub-text text-primary">
                    · 상품중복할인과 배송비 할인 쿠폰의 최소주문금액은 판매가
                    기준으로 사용됩니다.<br />( 예시 : 최소주문금액 1,000원 /
                    100원 상품중복할인 쿠폰의 경우,<br />판매가 1,000원 /
                    즉시할인가 500원인 상품 → 사용가능 / 400원에 결제<br />즉,
                    판매가 1,000원 이상이면 즉시할인가에 상관없이 사용가능 )<br />
                  </p>
                </div>
              </div>
            </li>
            <!----><!---->
            <li
              ng-if="vm.viewData.registerData.couponPublicationType === 'DOWNLOAD'"
            >
              <label class="control-label"
                >혜택기간<i class="icon-must" aria-label="필수항목"></i
              ></label>
              <div class="input-content">
                <ncp-datetime-range-picker2
                  ng-show="vm.viewData.registerData.specificationPeriodUseYn"
                  start-date-model="vm.viewData.registerData.benefitStartDate"
                  end-date-model="vm.viewData.registerData.benefitEndDate"
                  datetime-picker-format-name="DATETIME"
                  date-min="vm.defaultStartDate"
                  date-max="vm.func.getMaxBenefitEndDate()"
                  date-range-option="vm.config.datePickerRangeOption2"
                  date-range-usable="vm.viewData.registerData.specificationPeriodUseYn"
                  start-datetime-picker-disabled="!vm.viewData.registerData.specificationPeriodUseYn"
                  end-datetime-picker-disabled="!vm.viewData.registerData.specificationPeriodUseYn"
                  date-disabled="!vm.isEditable"
                  date-range-button-on-change="vm.func.changeBenefitPeriod"
                  date-required="vm.viewData.registerData.specificationPeriodUseYn"
                  date-markup-option="{onlyDate:true, buttonFixWidth:true}"
                  ><!---->
                  <div class="form-group" ng-if="vm.dateRangeUsable" style="">
                    <div class="btn-toolbar">
                      <div
                        class="btn-group fix-width-col-4"
                        ng-class="::{'fix-width-col-4' : vm.dateMarkupOption.buttonFixWidth}"
                        ng-attr-data-nclicks-code="{{::vm.nclicksCodeRangeButton}}"
                      >
                        <!----><button
                          type="button"
                          class="btn btn-primary2"
                          ng-repeat="option in vm.dateRangeOption.periods"
                          ng-click="vm.onClickRangeButton($index)"
                          ng-disabled="vm.dateDisabled"
                          ng-class="{ active: option.active }"
                        >
                          1주일</button
                        ><!----><button
                          type="button"
                          class="btn btn-primary2 active"
                          ng-repeat="option in vm.dateRangeOption.periods"
                          ng-click="vm.onClickRangeButton($index)"
                          ng-disabled="vm.dateDisabled"
                          ng-class="{ active: option.active }"
                        >
                          1개월</button
                        ><!----><button
                          type="button"
                          class="btn btn-primary2"
                          ng-repeat="option in vm.dateRangeOption.periods"
                          ng-click="vm.onClickRangeButton($index)"
                          ng-disabled="vm.dateDisabled"
                          ng-class="{ active: option.active }"
                        >
                          3개월</button
                        ><!----><button
                          type="button"
                          class="btn btn-primary2"
                          ng-repeat="option in vm.dateRangeOption.periods"
                          ng-click="vm.onClickRangeButton($index)"
                          ng-disabled="vm.dateDisabled"
                          ng-class="{ active: option.active }"
                        >
                          6개월</button
                        ><!----><button
                          type="button"
                          class="btn btn-primary2"
                          ng-repeat="option in vm.dateRangeOption.periods"
                          ng-click="vm.onClickRangeButton($index)"
                          ng-disabled="vm.dateDisabled"
                          ng-class="{ active: option.active }"
                        >
                          1년</button
                        ><!---->
                      </div>
                    </div>
                  </div>
                  <!---->
                  <div
                    class="form-group only-date"
                    ng-class="::{'only-date' : vm.dateMarkupOption.onlyDate, 'disabled-date-dimmed' : vm.dateMarkupOption.disabledDateDimmed }"
                    style=""
                  >
                    <div class="seller-calendar">
                      <div class="input-daterange date form-inline">
                        <div
                          class="form-group _startDate_dropdown seller-datetime-picker _error_start_date_7751148116 dropdown"
                          ng-class="{dropdown : !vm.datetimePickerDropUp, dropup : vm.datetimePickerDropUp}"
                          style=""
                        >
                          <div
                            class="input-group dropdown-toggle dropdown_2489005086"
                            data-toggle="dropdown"
                            ng-click="vm.isStartDateShow = !vm.dateDisabled &amp;&amp; true"
                            ng-attr-data-nclicks-code="{{::vm.nclicksCode}}"
                          >
                            <input
                              type="text"
                              class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-date-time-input"
                              name=""
                              title="날짜 입력"
                              ng-readonly="::vm.dateInputReadonly"
                              ng-required="vm.dateRequired &amp;&amp; !vm.ignoreStartDateRequired"
                              ng-disabled="vm.dateDisabled || vm.dateDisabledByPeriodType"
                              ncp-disabled="!vm.dateDisabledByPeriodType"
                              ng-model="vm.startDateModel"
                              model-type="YYYY-MM-DDTHH:mm:ss.SSSZ"
                              date-time-input="YYYY.MM.DD. HH:mm"
                              data-date-formats="::vm.inputModelFormats"
                              ncp-message-container="._error_start_date_7751148116"
                              ng-required-err-type="required.daterangepicker.startDate"
                              ncp-validate-change-trigger=""
                              required="required"
                              readonly="readOnly"
                              style=""
                            />
                            <!----><span
                              class="input-group-addon"
                              ng-if="!vm.dateDisabled &amp;&amp; !vm.dateDisabledByPeriodType &amp;&amp; !vm.startDatetimePickerDisabled"
                              style=""
                              ><a role="button" href=""
                                ><i
                                  class="fn fn-calendar1"
                                  aria-hidden="true"
                                ></i
                                ><span class="sr-only">달력보기</span></a
                              > </span
                            ><!----><!---->
                          </div>
                          <!---->
                        </div>
                        <div class="form-group dash">
                          <div class="input-group">
                            <span class="input-group-addon">~</span>
                          </div>
                        </div>
                        <div
                          class="form-group _endDate_dropdown seller-datetime-picker _error_end_date_4344204395 dropdown"
                          ng-class="::{dropdown : !vm.datetimePickerDropUp, dropup : vm.datetimePickerDropUp}"
                          style=""
                        >
                          <div
                            class="input-group dropdown-toggle dropdown_9630131188"
                            data-toggle="dropdown"
                            ng-click="vm.isEndDateShow = !vm.dateDisabled &amp;&amp; true"
                            ng-attr-data-nclicks-code="{{::vm.nclicksCode}}"
                          >
                            <input
                              type="text"
                              class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-date-time-input"
                              name=""
                              title="날짜 입력"
                              ng-readonly="::vm.dateInputReadonly"
                              ng-required="vm.dateRequired &amp;&amp; !vm.ignoreEndDateRequired"
                              ng-disabled="vm.dateDisabled || vm.dateDisabledByPeriodType"
                              ncp-disabled="!vm.dateDisabledByPeriodType"
                              ng-model="vm.endDateModel"
                              model-type="YYYY-MM-DDTHH:mm:ss.SSSZ"
                              date-time-input="YYYY.MM.DD. HH:mm"
                              data-date-formats="::vm.inputModelFormats"
                              ncp-message-container="._error_end_date_4344204395"
                              ng-required-err-type="required.daterangepicker.endDate"
                              ncp-validate-change-trigger=""
                              required="required"
                              readonly="readOnly"
                              style=""
                            />
                            <!----><span
                              class="input-group-addon"
                              ng-if="!vm.dateDisabled &amp;&amp; !vm.dateDisabledByPeriodType &amp;&amp; !vm.endDatetimePickerDisabled"
                              style=""
                              ><a role="button" href=""
                                ><i
                                  class="fn fn-calendar1"
                                  aria-hidden="true"
                                ></i
                                ><span class="sr-only">달력보기</span></a
                              > </span
                            ><!----><!---->
                          </div>
                          <!---->
                        </div>
                      </div>
                    </div>
                    <!---->
                  </div></ncp-datetime-range-picker2
                >
                <div
                  class="form-inline ng-hide"
                  ng-show="!vm.viewData.registerData.specificationPeriodUseYn"
                >
                  <div class="form-group">
                    <ncp-datetime-picker2
                      date-model="vm.viewData.registerData.benefitStartDate"
                      datetime-picker-format-name="DATETIME"
                      date-min="vm.defaultStartDate"
                      datetime-picker-disabled="vm.viewData.registerData.specificationPeriodUseYn"
                      date-disabled="!vm.isEditable"
                      date-required="vm.viewData.registerData.specificationPeriodUseYn"
                      ><div
                        class="form-group _date_dropdown seller-datetime-picker _error_date_8573933677 dropdown"
                        ng-class="{dropdown : !vm.datetimePickerDropUp, dropup : vm.datetimePickerDropUp}"
                        style=""
                      >
                        <div
                          class="input-group dropdown-toggle dropdown_3852064520"
                          data-toggle="dropdown"
                          ng-click="vm.isShow = !vm.dateDisabled &amp;&amp; true"
                        >
                          <input
                            type="text"
                            class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-date-time-input"
                            name=""
                            title="날짜 입력"
                            ng-readonly="::vm.dateInputReadonly"
                            ng-required="vm.dateRequired"
                            ng-required-err-type=""
                            ng-disabled="vm.dateDisabled"
                            ncp-disabled=""
                            ng-model="vm.dateModel"
                            model-type="YYYY-MM-DDTHH:mm:ss.SSSZ"
                            date-time-input="YYYY.MM.DD. HH:mm"
                            data-date-formats="::vm.inputModelFormats"
                            ncp-message-container="._error_date_8573933677"
                            ng-attr-data-nclicks-code="{{::vm.nclicksCode}}"
                            placeholder=""
                            ncp-validate-change-force-trigger=""
                            required="required"
                            readonly="readOnly"
                            style=""
                          />
                          <!----><!----><span
                            class="input-group-addon datetime-picker-disabled"
                            ng-if="vm.dateDisabled || vm.datetimePickerDisabled"
                            style=""
                            ><i class="fn fn-calendar1" aria-hidden="true"></i
                            ><span class="sr-only">달력보기</span></span
                          ><!---->
                        </div>
                        <!---->
                      </div></ncp-datetime-picker2
                    >
                  </div>
                </div>
                <!---->
                <p
                  class="sub-text text-primary"
                  ng-if="vm.viewData.registerData.benefitGroup.customerManageBenefitType !== 'TALK_FRIEND'"
                >
                  · 설정된 기간 동안 다운로드 가능한 쿠폰이 노출됩니다.
                </p>
                <!----><!----><!---->
                <p
                  class="sub-text text-primary"
                  ng-if="vm.viewData.registerData.specificationPeriodUseYn"
                >
                  · 종료일시는 시작일시로부터 최대 1년까지 설정할 수 있습니다.
                </p>
                <!---->
              </div>
            </li>
            <!----><!---->
            <li>
              <label class="control-label"
                >쿠폰 유효기간<i class="icon-must" aria-label="필수항목"></i
              ></label>
              <div class="input-content narrow-area">
                <div class="form-group">
                  <div class="seller-input-toggle">
                    <!----><input
                      type="radio"
                      id="couponValidityPeriodType_PERIOD"
                      ng-model="vm.viewData.registerData.couponValidityPeriodType"
                      ng-value="type.name"
                      ng-disabled="!vm.isEditable"
                      ng-checked="type.name == vm.viewData.registerData.couponValidityPeriodType"
                      ng-change="vm.func.changeCouponValidityPeriodType()"
                      ng-repeat-start="type in ::vm.enums['CouponValidityPeriodType'].values track by type.name"
                      class="ng-pristine ng-untouched ng-valid ng-empty"
                      name="731"
                      value="PERIOD"
                    />
                    <label
                      ng-repeat-end=""
                      for="couponValidityPeriodType_PERIOD"
                      >기간으로설정</label
                    ><!----><input
                      type="radio"
                      id="couponValidityPeriodType_ISSUE_DATE"
                      ng-model="vm.viewData.registerData.couponValidityPeriodType"
                      ng-value="type.name"
                      ng-disabled="!vm.isEditable"
                      ng-checked="type.name == vm.viewData.registerData.couponValidityPeriodType"
                      ng-change="vm.func.changeCouponValidityPeriodType()"
                      ng-repeat-start="type in ::vm.enums['CouponValidityPeriodType'].values track by type.name"
                      class="ng-pristine ng-untouched ng-valid ng-empty"
                      name="733"
                      value="ISSUE_DATE"
                    />
                    <label
                      ng-repeat-end=""
                      for="couponValidityPeriodType_ISSUE_DATE"
                      >발급일 기준으로 설정</label
                    ><!---->
                  </div>
                </div>
                <div class="form-group">
                  <!----><!---->
                  <div id="error-msgFor-couponValidityPeriod"></div>
                </div>
              </div>
            </li>
            <!---->
          </ul>
        </div>
      </div>
      <!---->
    </li>

    <!---->
    <div class="seller-btn-area btn-group-xlg" ng-if="vm.isEditable">
      <button
        type="button"
        class="btn btn-primary progress-button progress-button-dir-horizontal progress-button-style-top-line"
        pb-style="top-line"
        progress-button="vm.func.openSaveConfirmModal()"
        ng-disabled="vm.isProgress"
      >
        <span class="content" ng-transclude="">확인</span
        ><span class="progress"
          ><span
            class="progress-inner notransition"
            ng-style="progressStyles"
            ng-class="{ notransition: !allowProgressTransition }"
          ></span
        ></span>
      </button>
      <button
        href="#/customer-manage/search"
        type="button"
        class="btn btn-default"
        ui-sref="main.benefit.customer-manage.search({searchFormData:vm.searchFormData, selectedRowId: vm.viewData.selectedRowId})"
        ng-attr-ui-sref-opts="{reload: 'main.benefit.customer-manage.search'}"
        ui-sref-opts="{reload: 'main.benefit.customer-manage.search'}"
      >
        취소
      </button>
    </div>

    <!----><!---->
    <div
      class="modal fade seller-layer-modal data-target-save-alert"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mySmallModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="닫기"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h2 class="modal-title">혜택 확인</h2>
          </div>
          <div class="modal-body">
            설정한 혜택 정보를 확인해주세요!
            <p></p>
            <p></p>
            <div ng-bind-html="vm.viewData.benefitDescription"></div>
            <!---->
          </div>
          <div class="modal-footer">
            <div class="seller-btn-area">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                취소
              </button>
              <button
                type="button"
                class="btn btn-primary progress-button progress-button-dir-horizontal progress-button-style-top-line"
                data-dismiss="modal"
                progress-button="vm.func.save()"
                pb-style="top-line"
              >
                <span class="content" ng-transclude="">저장</span
                ><span class="progress"
                  ><span
                    class="progress-inner notransition"
                    ng-style="progressStyles"
                    ng-class="{ notransition: !allowProgressTransition }"
                  ></span
                ></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
